<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <!-- Definition for textEditor bean without constructor-arg  -->
    <bean id="textEditor" class="com.ampthon.annotation.TextEditor" lazy-init="true">
    </bean>

    <!-- Definition for spellChecker bean -->
    <bean id="spellChecker" class="com.ampthon.annotation.SpellChecker" lazy-init="true">
    </bean>

    <bean id="spellChecker2" class="com.ampthon.annotation.SpellChecker" lazy-init="true">
    </bean>

    <bean id="hello"
          class="com.ampthon.annotation.Hello">
        <!--<property name="message" value="Hello World!"/>-->
    </bean>

    <bean id="myHello"
          class="com.ampthon.event.MyHello">
        <property name="message" value="My Hello World!"/>
    </bean>

    <bean id="cStartEventHandler"
          class="com.ampthon.event.CStartEventHandler"/>

    <bean id="cStopEventHandler"
          class="com.ampthon.event.CStopEventHandler"/>

    <bean id="customEventHandler"
          class="com.ampthon.event.CustomEventHandler"/>

    <bean id="customEventPublisher"
          class="com.ampthon.event.CustomEventPublisher"/>

</beans>